name: Build and Push to GHCR

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - 'master'
      - 'main'
  pull_request:
    branches:
      - 'master'
      - 'main'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    env:
      VITE_BASE_API: /api/
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: pnpm install
        working-directory: ./dashboard/

      - name: Build Dashboard
        env:
          VITE_LATEST_APP_VERSION: ${{ github.ref_name }}
        run: npm run build --if-present -- --outDir 'dist' --assetsDir 'static'
        working-directory: ./dashboard/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push for Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/cyrusian/panel:latest
            ghcr.io/cyrusian/panel:${{ github.ref_name }}
          labels: |
            org.opencontainers.image.source=https://github.com/cyrusian/panel

      - name: Build and push for Branch Push
        if: ${{ github.event_name == 'push' && !startsWith(github.ref, 'refs/tags/') }}
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/cyrusian/panel:ga
          labels: |
            org.opencontainers.image.source=https://github.com/cyrusian/panel

      - name: Build and push for PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/cyrusian/panel:pr-${{ github.event.number }}
          labels: |
            org.opencontainers.image.source=https://github.com/cyrusian/panel